
*.tfrecord
*.pyc
*.h5
mnist/etc
mnist/old
.DS_Store
backup/
logs/mnist_100/etc/
logs/mnist_pre_design/etc/
# logs/mnist_100/path (consistency_interpolation)/rebuttal.pptx
logs/cifar10_4000/etc/
logs/cifar10_4000/old/
logs/cifar10_4000/old1/
logs/cifar10_4000/old2/
# logs/cifar10_4000/128dim/
*.sh
result_.py
logs/cifar10_4000/repeated(beta_0.5)/etc
logs/cifar10_4000/repeated(beta_1)/etc
standford_car
wandb
wandb_api.txt
svhn/dataset/
svhn/etc/
wandb*
overleaf*
svhn/assets/report/
*.xlsx