
*.tfrecord
*.pyc
*.h5
logs/mnist_100/etc/
mnist/etc
.DS_Store
logs/mnist_100/path (consistency_interpolation)/rebuttal.pptx
logs/cifar10_4000/etc/
logs/cifar10_4000/old1/
# logs/cifar10_4000/128dim/
*.sh
